
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {text-decoration: none;}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}


/* #region-header */
/* common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
 /* header */
 .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 }
 .header-container {
    display: flex;
    align-items: center;
 }
 .header-nav {
    display: flex;
    align-items: center;
 }
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;

}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    padding: 24px 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current
{color: #404bbf;}
/* #endregion-header */
/* #region-hero */

.hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
}

.main-title-hero {
    max-width: 496px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.order-servise {
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: auto;
    margin-top: 48px;
    margin-right: auto;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}
.order-servise:hover,
.order-servise:focus {
    background: #404bbf;
}
/* #endregion-hero */
/* #region-features */

.features {
    padding: 120px 0;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;    
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}
.item-info {
   width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color:  #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    width: 64px;
    height: 64px;
}
    
.title-item {
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;

}
.text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline;
    width: 264px;
     
}
/* #endregion-features */
/* #region-team */
.region-team {
    background-color: #f4f4fd;
    padding: 120px 0;
    display: flex;
    margin: auto;
    width: 1440px;
}
.title-region {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-item {
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),  0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    
}

.member-info {
    padding: 32px 0;
}
.title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-list-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item-social {
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
}
.item-link {
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link:hover,
.item-link:focus {
    background-color: #404bbf;
}
.item-icon {
    fill: #f4f4fd;
}

.member-info {
    width: 232px;
    height: 104px;
    display: inline;
    justify-content: center;
    align-items: center;
}
.title-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    color: #2e2f42;
}

.text-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    color: #434455;;
}
/* #endregion-team */
/* #region-portfolio */
.region-portfolio {
    padding: 120px 0;
}

.title-region {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.project-item {
    width: calc((100% - 48px) / 3);
  
}
.project-item-special {
    position: relative;
}
.item-info {
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: 360px;
    height: 120px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:center;
    
       

}
.title-item {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    
}
.text-item {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 0


}
.image-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item-special:hover .overlay {
    transform: translateY(0);

}
.project-item-special:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* #endregion-portfolio */
/* #region-footer */
.region-footer {
    background: #2e2f42;
    margin: auto;
    max-width: 1440px;
    height: 312px;
}
.container-logo {
    display: inline-block;
    align-items: baseline;
    margin-right: 120px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 156px;
}

.container-social {
    display: inline-block;
    align-items: center;
    max-width: 208px;
    height: 80px;
   
   
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}
.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
align-self: center;
}
.footer-list-social {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-item-social {
    width: 40px;
    height: 40px;
    margin-bottom: 132px;
}

.footer-item-link {
    width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: center;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-link:hover,
.footer-item-link:focus {
    background-color: #31D0AA;
}
/* #endregion-footer */